{% extends 'base.html' %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %}

  <h2>{{article.article_title}}</h2>

  <p>{{article.article_text}}</p>

  <em>{{article.pub_date}}</em>

  <hr>

    {% if latest_articles_list %}
      {% for c in latest_articles_list %}
        <p>
            <strong>{{c.id}}{{c.authorn_name}}</strong>
            <p>{{c.comment_text}}</p>
        </p>
      {% endfor %}
    {% else %}
    Коменнтарий не найден
{% endif %}

  <hr>

  <form action="{% url 'articles:leave_comment' article.id %}" method="POST">

    {% csrf_token %}

    <input type="text" required placeholder="ваше имя" name="name"><br>
    <textarea name="text" required="" placeholder="Текст комментария" rows="10" cols="30">
    </textarea><br>

    <button type="submit">добавить пост</button>

  </form>
<p>




  </p>
  <form action="{% url 'articles:redact_comment' article.id %}" method="POST">

    {% csrf_token %}

    <input type="text" required placeholder="напишите номер комментария начиная с 0" name="name"><br>
    <textarea name="text" required="" placeholder="исправленный комметарий" rows="10" cols="30">
    </textarea><br>

    <button type="submit">исправте пост</button>

  </form>
  <p>




    </p>
  <form action="{% url 'articles:del_comment' article.id %}" method="POST">

    {% csrf_token %}

    <input type="text" required placeholder="напишите номер комментария начиная с 0" name="name"><br>


    <button type="submit">удалить пост</button>

  </form>

{% endblock %}
